<!DOCTYPE html>
<html>
<body>
    
   <form action = "http://localhost:5000/result" method = "POST">
      <p>First Name: <br><input type = "text" name = "FirstName" /></p>
      <p>Last Name: <br> <input type = "text" name = "LastName" /></p>
      <p>Email: <br> <input type = "email" name = "Email" /></p>
      <p>DOB: <br><input type = "date" name = "DOB" /></p>
      <p>Address Line 1: <br><input type ="text" name = "Address line 1" /></p>
      <p>Address Line 2:<br><input type ="text" name = "Address line 2" /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form>

</body>
</html>





